17-08-2022:  
Once I got this infor I realised that basketball-reference.com doesn't even have anything for D2,D3 colleges. It's safe to say that 99% of NBA players come from D1 schools.  
Since this data comes primarily from bask-ref.com, I would not have D2,D3 schools

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
from lxml import etree, html
import os
import numpy as np
from datetime import datetime
pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_colwidth", 200)

#### D1 Schools

In [122]:
url = 'https://basketball.realgm.com/ncaa/teams'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'lxml')

lst_main = []
for i in soup.find('table',{'class':'tablesaw'}).find('tbody').find_all('tr'):
    lst_school=[]
    for x,val in enumerate(i.find_all('td')):
        lst_school.append(val.text)
    lst_main.append(lst_school)

d1_schools = pd.DataFrame(lst_main)
d1_schools.drop(columns = [5],inplace = True)
d1_schools.rename(columns = {0:'school',1:'nickname',2:'abr',3:'conference',4:'location'},inplace = True)
d1_schools['div'] = 1
d1_schools.head(3)

              school  nickname  abr conference              location  div
0  Abilene Christian  Wildcats  ACU        WAC           Abilene, TX    1
1          Air Force   Falcons   AF        MWC  Colorado Springs, CO    1
2              Akron      Zips  AKR        MAC             Akron, OH    1

#### D2 Schools

In [123]:
url = 'https://basketball.realgm.com/ncaa-dii/teams'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'lxml')

school = []
for i in soup.find('table',{'class':'tablesaw'}).find('tbody').find_all('tr'):
    school.append(i.text)

d2_schools = pd.Series(school).str.split('\n', expand = True)
d2_schools.drop(columns = [4],inplace = True)
d2_schools.rename(columns = {0:'school',1:'nickname',2:'conference',3:'location'},inplace = True)
d2_schools['div'] = 2
d2_schools.head(3)

,school,nickname,conference,location,div
0,Academy of Art,Urban Knights,Pacific West Conference,"San Francisco, CA",2
1,Adams State,Grizzlies,Rocky Mountain Athletic Conference,"Alamosa, CO",2
2,Adelphi,Panthers,Northeast-10 Conference,"Garden City, NY",2

#### D3 Schools

In [124]:
url = 'https://basketball.realgm.com/ncaa-diii/teams'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'lxml')

school = []
for i in soup.find('table',{'class':'tablesaw'}).find('tbody').find_all('tr'):
    school.append(i.text)

d3_schools = pd.Series(school).str.split('\n', expand = True)
d3_schools.drop(columns = [4],inplace = True)
d3_schools.rename(columns = {0:'school',1:'nickname',2:'conference',3:'location'},inplace = True)
d3_schools['div'] = 3
d3_schools.head(3)

,school,nickname,conference,location,div
0,Adrian,Bulldogs,Michigan Intercollegiate Athletic Association,"Adrian, MI",3
1,Albertus Magnus College,Falcons,Great Northeast Athletic Conference,"New Haven, CT",3
2,Albion,Britons,Michigan Intercollegiate Athletic Association,"Albion, MI",3